@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Roboto:ital,wght@0,300;1,300&display=swap");

:root {
  /* custom properties like colors */
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.about_me {
  background: linear-gradient(165deg, #022c3f 50%, #8d8c8c 50%, #fff 51%);
}

.portrait_container > img{
  padding: 0 1em;
  margin: 0 auto;
}

.about_me_description {
  max-width: 65ch;
  padding: 0 1em;
  margin: 0 auto;
}

.profile_links {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin: 0.5em;
  font-size: 1.5rem;
}

.my_work {
  margin: 0 auto;
  max-width: 80%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project {
  box-shadow: 5px 2px 7px 5px #adb5bd;
  margin: 1rem;
}

.project_screenshot {
  background-color: #022c3f;
  color: #f8f8f8;
  font-size: 2rem;
  text-align: center;
  padding: 2em 1em;
}

.project_header {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.project_header > ul {
  display: flex;
  gap: 1em;
  margin-left: auto;
}

.project > p {
  margin: 1em;
  padding-bottom: 1em;
}

.contact_me {
  background-color: #022c3f;
  color: #f8f8f8;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_me > h3 {
  font-size: 1.25rem;
  text-wrap: wrap;
  text-align: start;
}

.contact_me > ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.5rem;
}

@media (min-width: 470px) {
  img {
    max-width: 60%;
  }
}

@media (min-width: 705px) {
  img {
    max-width: 40%;
  }
}

@media (min-width: 1080px) {
  img {
    max-width: 30%;
  }
}